<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">VIRAL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">view user profiles</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">my profile and invitation data</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'invite' %}">invite new user</a>
        </li>
        
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">signup/login</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
        {% endif %}
    </ul>

    {% if request.user.is_authenticated %}
        <h4>logged in as {{ request.user.username }}</h4>
    {% endif %}
    </div>
</nav>